<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>seleniumPractice.SeleniumPractice</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>gmailFileUpload</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>bookFlight</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>readXlData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>workWithIframes</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>workWithStaticXpath</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginApplication_WithReturnWebElement</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginApplication</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>workWithRelativeXpath</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>workWithPartialLinkText</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>workWithAlerts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>gmailLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>mouseEvents</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>windowHandlers</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>workWithLinkText</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>dataBaseConnection</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>lauchApplication</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
