<h2>Methods that were not run</h2><table>
<tr><td>seleniumPractice.SeleniumPractice.workWithIframes</td></tr>
<tr><td>seleniumPractice.SeleniumPractice.readXlData</td></tr>
<tr><td>seleniumPractice.SeleniumPractice.gmailFileUpload</td></tr>
<tr><td>seleniumPractice.SeleniumPractice.workWithRelativeXpath</td></tr>
<tr><td>seleniumPractice.SeleniumPractice.loginApplication_WithReturnWebElement</td></tr>
<tr><td>seleniumPractice.SeleniumPractice.loginApplication</td></tr>
<tr><td>seleniumPractice.SeleniumPractice.bookFlight</td></tr>
<tr><td>seleniumPractice.SeleniumPractice.workWithStaticXpath</td></tr>
<tr><td>seleniumPractice.SeleniumPractice.gmailLogin</td></tr>
<tr><td>seleniumPractice.SeleniumPractice.windowHandlers</td></tr>
<tr><td>seleniumPractice.SeleniumPractice.workWithPartialLinkText</td></tr>
<tr><td>seleniumPractice.SeleniumPractice.dataBaseConnection</td></tr>
<tr><td>seleniumPractice.SeleniumPractice.workWithAlerts</td></tr>
<tr><td>seleniumPractice.SeleniumPractice.workWithLinkText</td></tr>
</table>