<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="74b285">  <td>17/09/09 11:26:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeleniumPractice.lauchApplication()[pri:0, instance:seleniumPractice.SeleniumPractice@f736069]">&gt;&gt;lauchApplication</td> 
<td>&nbsp;</td>  <td>main@1014982340</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>17/09/09 11:26:04</td>   <td>3628</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumPractice.mouseEvents()[pri:0, instance:seleniumPractice.SeleniumPractice@f736069]">mouseEvents</td> 
  <td>main@1014982340</td>   <td></td> </tr>
</table>
