<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Parallel Execution</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9a8684">  <td>17/09/09 09:36:46</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;SeleniumTestsFirefox.launch()[pri:0, instance:testNG.SeleniumTestsFirefox@5c3bd550]">&gt;&gt;launch</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@455593028</td>   <td></td> </tr>
<tr bgcolor="9fba89">  <td>17/09/09 09:36:46</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;SeleniumTestsChrome.launch()[pri:0, instance:testNG.SeleniumTestsChrome@4b9e13df]">&gt;&gt;launch</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1753156990</td>   <td></td> </tr>
<tr bgcolor="9fba89">  <td>17/09/09 09:36:46</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeleniumTestsChrome.beforeClass()[pri:0, instance:testNG.SeleniumTestsChrome@4b9e13df]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1753156990</td>   <td></td> </tr>
<tr bgcolor="9a8684">  <td>17/09/09 09:36:46</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeleniumTestsFirefox.beforeClass()[pri:0, instance:testNG.SeleniumTestsFirefox@5c3bd550]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@455593028</td>   <td></td> </tr>
<tr bgcolor="9a8684">  <td>17/09/09 09:36:46</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeleniumTestsFirefox.beforeMethod()[pri:0, instance:testNG.SeleniumTestsFirefox@5c3bd550]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@455593028</td>   <td></td> </tr>
<tr bgcolor="9fba89">  <td>17/09/09 09:36:46</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeleniumTestsChrome.beforeMethod()[pri:0, instance:testNG.SeleniumTestsChrome@4b9e13df]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1753156990</td>   <td></td> </tr>
<tr bgcolor="9fba89">  <td>17/09/09 09:36:46</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumTestsChrome.forwardToEmail()[pri:0, instance:testNG.SeleniumTestsChrome@4b9e13df]">forwardToEmail</td> 
  <td>TestNG-tests-1@1753156990</td>   <td></td> </tr>
<tr bgcolor="9a8684">  <td>17/09/09 09:36:46</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumTestsFirefox.forwardToEmail()[pri:0, instance:testNG.SeleniumTestsFirefox@5c3bd550]">forwardToEmail</td> 
  <td>TestNG-tests-2@455593028</td>   <td></td> </tr>
<tr bgcolor="9a8684">  <td>17/09/09 09:36:46</td>   <td>48</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SeleniumTestsFirefox.afterMethod()[pri:0, instance:testNG.SeleniumTestsFirefox@5c3bd550]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@455593028</td>   <td></td> </tr>
<tr bgcolor="9a8684">  <td>17/09/09 09:36:46</td>   <td>48</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeleniumTestsFirefox.beforeMethod()[pri:0, instance:testNG.SeleniumTestsFirefox@5c3bd550]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@455593028</td>   <td></td> </tr>
<tr bgcolor="9fba89">  <td>17/09/09 09:36:46</td>   <td>48</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SeleniumTestsChrome.afterMethod()[pri:0, instance:testNG.SeleniumTestsChrome@4b9e13df]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1753156990</td>   <td></td> </tr>
<tr bgcolor="9fba89">  <td>17/09/09 09:36:46</td>   <td>48</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeleniumTestsChrome.beforeMethod()[pri:0, instance:testNG.SeleniumTestsChrome@4b9e13df]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1753156990</td>   <td></td> </tr>
<tr bgcolor="9a8684">  <td>17/09/09 09:36:46</td>   <td>48</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumTestsFirefox.replyToEmail()[pri:0, instance:testNG.SeleniumTestsFirefox@5c3bd550]">replyToEmail</td> 
  <td>TestNG-tests-2@455593028</td>   <td></td> </tr>
<tr bgcolor="9fba89">  <td>17/09/09 09:36:46</td>   <td>48</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumTestsChrome.replyToEmail()[pri:0, instance:testNG.SeleniumTestsChrome@4b9e13df]">replyToEmail</td> 
  <td>TestNG-tests-1@1753156990</td>   <td></td> </tr>
<tr bgcolor="9fba89">  <td>17/09/09 09:36:46</td>   <td>64</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SeleniumTestsChrome.afterMethod()[pri:0, instance:testNG.SeleniumTestsChrome@4b9e13df]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1753156990</td>   <td></td> </tr>
<tr bgcolor="9fba89">  <td>17/09/09 09:36:46</td>   <td>64</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SeleniumTestsChrome.afterClass()[pri:0, instance:testNG.SeleniumTestsChrome@4b9e13df]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1753156990</td>   <td></td> </tr>
<tr bgcolor="9fba89">  <td>17/09/09 09:36:46</td>   <td>64</td> <td>&nbsp;</td><td title="&lt;&lt;SeleniumTestsChrome.close()[pri:0, instance:testNG.SeleniumTestsChrome@4b9e13df]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1753156990</td>   <td></td> </tr>
<tr bgcolor="9a8684">  <td>17/09/09 09:36:46</td>   <td>99</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SeleniumTestsFirefox.afterMethod()[pri:0, instance:testNG.SeleniumTestsFirefox@5c3bd550]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@455593028</td>   <td></td> </tr>
<tr bgcolor="9a8684">  <td>17/09/09 09:36:46</td>   <td>99</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SeleniumTestsFirefox.afterClass()[pri:0, instance:testNG.SeleniumTestsFirefox@5c3bd550]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@455593028</td>   <td></td> </tr>
<tr bgcolor="9a8684">  <td>17/09/09 09:36:46</td>   <td>100</td> <td>&nbsp;</td><td title="&lt;&lt;SeleniumTestsFirefox.close()[pri:0, instance:testNG.SeleniumTestsFirefox@5c3bd550]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@455593028</td>   <td></td> </tr>
</table>
